<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Liste patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"/>
</head>

<body>
<div class="form-group col-md-6 offset-md-3 p-4" layout:fragment="content1">
    <form method="post" th:action="@{/save}" th:object="${patient}">
        <div class="form-group mb-3">
            <label for="patientName">Patient Name</label>
            <input type="text" class="form-control" id="patientName" th:field="*{name}">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="form-group mb-3">
            <label for="dateofbirth">Date Of Birth</label>
            <input type="date" class="form-control" id="dateofbirth" th:field="*{dateOfBirth}">
            <span class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
        </div>

        <div class="form-group mb-3">
            <label for="sick">Sick</label>
            <input type="text" class="form-control" id="sick" th:field="*{sick}">
            <span class="text-danger" th:if="${#fields.hasErrors('sick')}" th:errors="*{sick}"></span>
        </div>

        <div class="form-group mb-3">
            <label for="patientscore">Score</label>
            <input type="text" class="form-control" id="patientscore" th:field="*{score}">
            <span class="text-danger" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
