<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"/>
    <meta charset="UTF-8">
    <title>Liste patients</title>
</head>
<body>
<div layout:fragment="content">
<div class="p-3 mb-2 bg-primary text-white">
    <div class="card" >
        <div class="card-header">List Patients</div>
        <div class="card-body">
            <form method="get" th:action="@{/user/index?keyword={keyword}&page={currentPage}}" th:object="${user}">
                <label>Search patient:</label>
                <input type="text" name="keyword" placeholder="Search patient" th:value="${keyword}">
                <button type="submit" class="btn btn-info">Search
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Patient ID</th> <th>Name</th> <th>Date Of Birth</th> <th>Sick</th> <th>Score</th>
                </tr>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.dateOfBirth}"></td>
                    <td th:text="${patient.sick}"></td>
                    <td th:text="${patient.score}"></td>
                    <td th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                        <a th:href="@{'/admin/edit/' +${patient.id}}" class="btn btn-info ms-0">
                        <i class="bi bi-pencil-fill"></i></a>
                    </td>
                    <td th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                        <a onclick="return confirm('Click to confirm')"
                           th:href="@{/admin/delete(id=${patient.id}, keyword=${keyword}, page=${currentPage})}"
                           class="btn btn-danger ms-0">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </thead>
            </table>
            <ul class="nav nav-pills" >
                <li th:each="page, item:${pages}" class="nav-item">
                    <a th:href="@{/user/index(page=${item.index},keyword=${keyword})}"
                       th:class="${currentPage==item.index ?'btn btn-info ms-2':'btn btn-outline-info ms-2'}"
                        th:text="${item.index+1}"></a>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>